body {
	color: #6d6d6d;
	background-color: #eaeaea;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}

a, a:hover, a:visited, a:active, .hashtag {
	color: #384EB9;
	text-decoration: none;
}

#container, body {
	width: 310px;
	height: 400px;
	overflow: hidden;
}

#header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background: black url(../img/bars.png) 12px 6px no-repeat;
	color: white;
	width: 100%;
	height: 23px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
}

#header .right {
	position: absolute;
	top: 0;
	right: 12px;
	text-align: right;
}

ul#photos, ul#photos li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#photos {
	padding: 0 22px 0 23px;
	margin-top:-24px;
}

ul#photos li {
	padding: 48px 0 10px 0;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #fafafa;
}

ul#photos li div.image {
	box-shadow: 0 0 10px 0px black;
	margin-bottom: 12px;
	height: 265px;
	width: 265px;
}

ul#photos li .text {
	margin-bottom: 10px;
}

ul#photos li .fb-like {
	height: 21px;
	overflow: hidden;
}
